body {
	padding-bottom: 5rem;
	overflow-y: scroll;
}

img {
	height: auto;
}

video {
	width: 100%;
	height:  auto;
}

.fa-star {
	background-color: transparent;
	color: rgb(255, 174, 0);
	border: 0;
	padding: 0;
}

.stars {
	display: flex;
}

.button-star {
	font-size: 0;
}

.button-star:not(:last-child) {
	padding-right: 0.1rem;
}

.button-star:not(:first-child) {
	padding-left: 0.1rem;
}

.button-star::before {
	font-size: 1rem;
}
